.no-radius {
	border-radius: 0px !important;
}

/* login icon */
.login-icon {
	color: #1da1f2 !important;
}

/* Card */
.ad-card {
	min-width: min-content !important;
	min-height: fit-content !important;
	margin: 0.2em !important;
	width: min-content !important;
}
.ad-card .card-ad-creative-id {
	word-break: break-all;
}
.ad-card .row {
	text-align: center;
}
.ad-card .content {
	padding: 5px !important;
}
.ad-card .sub.header {
	margin-top: 0.5em !important;
}
.ad-card .content.image {  
	width: 220px !important;  /* image container size */
	text-align: center !important;
	background-color: #F8F8F8 !important;
	overflow: auto !important;
	padding: 0px !important;
}
.ad-card .content.image img {
	max-width: 220px !important;  /* actual image size */
	max-height: 330px !important; /* actual image size */
}
.ad-card .content.image::-webkit-scrollbar {
  height: 0px; /* height of horizontal scrollbar */
  width: 0px;  /* width of vertical scrollbar */
  border: 0px solid;
}
.ad-card .content.text {
	max-height: fit-content !important;
	word-break: break-all !important;
}
.ad-card .content.stats {
	max-height: fit-content !important;
}
.ad-card .content.stats .column {
	padding: 0px !important;
}
.ad-card .content.stats .column.stat-imp {
	margin-left: 0.3em !important;
}
.ad-card .card-ad-bidder-id {
	color: #1da1f2;
}
.ad-card .card-ad-bidder-name {
	color: #801df2;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 0.9em;
}

/* Block status */
.allowed-crt {
	background-color: #D5F5E3 !important;
}
.blocked-crt {
	background-color: #FADBD8 !important;
}
.noinfo-crt {
	background-color: #F2F4F4 !important;
}

#vast-video-container {
  position: relative;
  /* forces the container to match a 16x9 aspect ratio */
  /* replace with 75% for a 4:3 aspect ratio, if needed */
  /* padding-bottom: 56.25%; */
	width: 320px;
	height: 480px;
}

#vast-video-element {
  /* forces the contents to fill the container */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#vast-ad-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

/* Button Color Override */
.mopub-button-color {
	background-color: #1da1f2 !important;
	color: #FFFFFF !important;	
	font-weight: bold !important;
	box-shadow: none !important;
	border: 1px solid #1da1f2 !important;
}

.mopub-button-color:hover {
	background-color: #1a91da !important;
	border-color: #1a91da !important;
	color: #fff !important;
}

/* Button Radius */
.mopub-button-radius {
	border-radius: 1.6rem !important;
}

/* menu bar */
.ui.menu {
	box-shadow: 0 2px 5px rgba(0,0,0,.35) !important;
}

/* Login user */
.logged-in-account {
	font-weight: bold;
	font-size: 1.1em !important;
	word-break: break-all;
	/* width: 238px; */
}
.logged-in-account-desc {
	font-weight: normal;
	font-size: 0.8em !important;
	/* color: gray; */
	margin-top: 5px;
}

/* Creative count */
.crt-num-tab {
	margin-left: 5px;
	font-weight: bold;
	color: #1da1f2 !important;
}

/* Download link */
.card-ad-download:hover {
	text-decoration: underline !important;	
	color: #1da1f2 !important;
}

/* Block status button */
.block-status-btn {
	padding-left: 0px !important;
	padding-right: 0px !important;
	background: transparent !important;
	font-weight: normal !important;
	cursor: auto;
}

/* For DSP dropdown */
biddername {
	font-weight: bold;
}
bidderid {
	color: #1da1f2 !important;
	margin-left: 10px;
}
bidderstatusactive {
  font-size: .6rem;
  display: inline-block !important;
  margin: 0.14285714em;
  background-image: none;
  text-transform: none;
  font-weight: 700;
  border: 0 solid transparent;
  transition: background .1s ease;
  background-color: #21ba45!important;
  border-color: #21ba45!important;
  color: #fff!important;
  padding: .5em!important;
  line-height: 1em;
  text-align: center;
  border-radius: 500rem;
  min-width: 0;
  min-height: 0;
  overflow: hidden;
  width: .5em;
  height: .5em;
  /* vertical-align: middle !important; */
	margin-right: 5px !important;
	margin-left: 5px !important;
}
bidderstatusinactive {
	margin-right: 5px !important;
  font-size: .6rem;
  display: inline-block !important; margin: 0.14285714em;
  background-image: none;
  text-transform: none;
  font-weight: 700;
  border: 0 solid transparent;
  transition: background .1s ease;
  background-color: #767676!important;
  border-color: #767676!important;
  color: #fff!important;
  padding: .5em!important;
  line-height: 1em;
  text-align: center;
  border-radius: 500rem;
  min-width: 0;
  min-height: 0;
  overflow: hidden;
  width: .5em;
  height: .5em;
  vertical-align: middle !important;
}

/* save settings button */
.save-settings-btn {
	float: right;
	color: #1da1f2 !important;
	font-size: 0.9em;
	font-weight: bold;
}
.save-settings-btn:hover {
	text-decoration: underline;
	cursor: pointer;
}

/* load submit button */
.button.ad-submit {
	margin-top: 0.9em !important;
}

/* download all */
.download-all-btn {
	position: absolute;
	right: 3em;
}
